@mixin common-img {
  width: 100%;
  object-fit: cover;
}

@mixin common-card {
  box-shadow: none !important;
}

@media (max-width: 991px) {
  .mt-py-below {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .content-space {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }

  .content-pd-space {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .card-image {
    aspect-ratio: 16 / 9 !important;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .profile-image {
    max-width: 150px;
  }

  .profile-image-container {
    display: flex;
    justify-content: center;
  }

  .review-fs {
    height: min-content !important;
  }
}

.content-space {
  margin-top: 60px;
}

.content-pd-space {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-image {
  @include common-img;
  aspect-ratio: 1 / 1;
}

.card-style {
  @include common-card;
  max-width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.review-style {
  @include common-card;
  padding: 1rem;
  background: rgba(242, 242, 242);
  color: black;
}

.profile-image {
  @include common-img;
  aspect-ratio: 1 / 1;
}

.review-image {
  @include common-img;
  aspect-ratio: 1 / 1;
  width: 58px;
}

.full-width-background {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.align-items-center {
  align-items: center;
}

.text-on-dark-bg-alt {
  background-color: rgba(150, 150, 150, 1);
}

.review-fs {
  height: 400px;
}
.link {
  :hover {
    opacity: 0.7;
  }
}
